<div class='inner-wrapper' id='success'>
  <h1 class='success-heading'>Thank You for Sharing!</h1>
  <h3 class='success-subheading'>Deb will be delighted to here from you on her birthday</h3>
  <br>
  <paper-button raised role='button' class='upload' id='send-another' tabindex='0' aria-label='Send Another'>
    <i class='fa fa-plus-circle'></i> Want to Send Another?
  </paper-button>
</div>
