<div class='row'>
  <div class='col s10 offset-s1 m8 offset-m2 l6 offset-l3 content-wrapper shadow'>
    <div class='row inner-wrapper' id='success'>
      <h3 class='success-heading'>Thank You for Sharing!</h3>
      <h4 class='success-subheading'>Deb will be delighted to hear from you on her birthday</h4>
      <br>
      <a class='waves-effect button raised waves-ripple upload' id='send-another'>
        <i class='fa fa-plus-circle'></i> Want to Send Another?
      </a>
    </div>
  </div>
</div>
