@import 'materialize';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body { background: #D5D9DF; }
.hidden { display: none !important; }

.content-wrapper { position: fixed; top: 0; height: 100%; margin-top: 120px; background: #FFF; }
@media (max-width: 530px) { .content-wrapper { margin-top: 140px; } }
.inner-wrapper { margin-top: 20px; }

.header       { width: 100%; text-align: center; color: #FFF !important; font-weight: 300; }
.header.one   { height: 310px; background-color: #BBE8C9; }
.header.two   { height: 260px; background: #81C796; }
.header.three { height: 180px; background: #5AA872; }

.maintext { display: block; font-size: 24px; padding-top: 15px; }
.subtext  { display: block; font-size: 16px; padding-top: 5px; }

.upload-buttons { margin-top: 20px; }
.upload { color: #42935B; background: #FFF; }
#msg-pic { margin-right: 5px; }

.finish-buttons { margin-top: 15px; float: right; }
#msg-submit, #send-another { color: #FFF; background: #5AA872; }
#msg-loading { color: #525252; background: #DFDFDF; }

#error-msg { padding-top: 10px; color: #E79504; }

#success { text-align: center; }
.success-heading    { color: #7F7F7F; padding-top: 20px; }
.success-subheading { color: #595959; padding-top: 5px; }
